$c-bg-main: #EEEEEE;
$c-bg: #FFFFFF;
$base-font-size: 16px;

$c-note-title: #EE6E73;

@import "./shadows.scss";
@import "./search-panel/styles.scss";
@import "./notemap/styles.scss";

html {
    overflow-y: scroll;
}

html, body {
    font-size: $base-font-size;
}

.container {
    background: $c-bg-main;
    height: 100%;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    border-bottom: 1px solid;
}
