.Note {
  width: 42em;

  margin: 1vr auto;
  padding: 1vr 2vr;

  border: 1px solid #F6F6F6;
  background-color: #FEFEFE;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  position: relative;

  .icons {
    position: absolute;
    top: 5px;
    right: 10px;

    .Icon {
      cursor: pointer;

      font-size: 1vr;

      color: color($color tint(60%));
      &:hover {
        color: $color;
      }
    }
  }

  .icons-right {
    position: absolute;
    top: 5px;
    right: -31px;

    width: 30px;
    border-radius: 0 2px 2px 0;

    font-size: 1vr;
    color: #FFFFFF;
    background: color(black alpha(20%)) none repeat scroll 0% 0%;

    text-align: center;

    .Icon {
      cursor: pointer;

      display: block;
      margin: 0 5px;

      &:hover {
        color: $color;
      }
    }
  }

  .title {
    font-size: 2vr;
    margin: 0;
  }

  .categories {
    margin-top: 0;
  }
}
