.Note {
  width: 42em;

  margin:  1vr auto;
  padding: 1vr 2vr;

  background: $text-bg;

  @mixin paper-shadow;

  position: relative;

  .icons {
    position: absolute;
    top: 0;
    right: 10px;

    .Icon {
      padding-left: 15px;

      font-size: 1vr;
      @mixin action-icon;
    }
  }

  .icons-right {
    position: absolute;
    top: 5px;
    right: -31px;

    width: 30px;
    border-radius: 0 2px 2px 0;

    font-size: 1vr;
    background: color(black alpha(20%)) none repeat scroll 0% 0%;

    text-align: center;

    .Icon {
      display: block;
      margin: 0 5px;

      @mixin action-icon #FFFFFF;
    }
  }
}
