.Note {
  width: 42em;

  margin:  1vr auto;
  padding: 1vr 2vr;

  background: $text-bg;

  @mixin paper-shadow;

  position: relative;

  .icons {
    position: absolute;
    top: 5px;
    right: 10px;

    .Icon {
      cursor: pointer;

      font-size: 1vr;

      color: $border-color;
      &:hover {
        color: $font-color;
      }
    }
  }

  .icons-right {
    position: absolute;
    top: 5px;
    right: -31px;

    width: 30px;
    border-radius: 0 2px 2px 0;

    font-size: 1vr;
    color: #FFFFFF;
    background: color(black alpha(20%)) none repeat scroll 0% 0%;

    text-align: center;

    .Icon {
      cursor: pointer;

      display: block;
      margin: 0 5px;

      &:hover {
        color: $font-color;
      }
    }
  }
}
