.RecordEditor-edit {
  .name, .CategoriesEditor {
    display: block;
    width: 100%;

    padding: 0.5vr 0;

    font-weight: 600;
  }

  .name {
    font-size: 1.5vr;
  }

  .Editor {
    margin-top: 1vr;

    .CodeMirror {
      height: auto;
      font-size: 14px;
    }
  }
}

.RecordEditor-preview {

}
