
.SearchItem {
  position: relative;

  padding: 0 0.5vr;
  margin-bottom: 1vr;

  .name {
    display: block;

    font-weight: 600;
    font-size: 1.5em;
  }

  time {
    font-size: 0.8em;
  }

  .category {
    font-size: 0.8em;
    padding-right: 5px;
  }

  &:hover {
    cursor: pointer;
  }
}
