.modal {
    position: fixed;
    z-index: 100;

    width: 100%;
    height: 100%;

    top: 0px;
    left: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    $dialog-padding: 10px;
    &-dialog {
        @extend %paper-2;
        @extend %rounded;

        position: relative;
        z-index: 1;

        min-width: 40%;
        max-width: 60%;

        background-color: $base-background-color;

        > * {
            min-height: 200px;
            padding: $dialog-padding;
        }
    }

    &-footer {
        position: absolute;
        bottom: $dialog-padding;

        @include calc(width, "100% - #{2*$dialog-padding}");

        .buttons {
            text-align: right;

            .btn {
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }

    &-overlay {
        position: fixed;

        height: 100%;
        width: 100%;

        top: 0px;
        left: 0px;

        background-color: #555555;
        opacity: 0.3;
    }
}
