// MATERIAL PAPER
// https://github.com/callemall/material-ui/blob/master/src/less/components/paper.less

%paper-1 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);

    & > * {
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
    }
}

%paper-2 {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23);

    & > * {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
    }
}

%paper-3 {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.23);

    & > * {
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.19);
    }
}

%paper-4 {
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.22);

    & > * {
        box-shadow: 0 14px 45px rgba(0, 0, 0, 0.25);
    }
}

%paper-5 {
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.22);

    & > * {
        box-shadow: 0 19px 60px rgba(0, 0, 0, 0.30);
    }
}

// Z-levels

%z-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

%z-depth-1-half {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

%z-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

%z-depth-3 {
    box-shadow: 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

%z-depth-4 {
    box-shadow: 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

%z-depth-5 {
    box-shadow: 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}
