.Record {
    padding-left: 25px;
    padding-right: 25px;
}

.RecordView.is-edit {
    .active a:focus {
        outline: none;
    }

    .form-control {
        margin-top: 10px;
        font-size: 1.2em;
    }

    #tab-write {
        .name {
            color: $c-fg;
        }

        .data {
            resize: vertical;
        }
    }
}
