<div class="file-upload">
    {{>icon type="upload"}}
    Drop files here or <span class="upload-btn">select them</span>
</div>
<form class="hidden file-selector" action="">
    <input name="" type="file" value=""/>
</form>

<table class="files table"></table>
