$w-sidebar: 350px;

.MainPage {
  height: 100%;
  display: flex;

  &-left-panel {
    background-color: yellow;
    flex: 0 0 $w-sidebar;
    height: 100%;
  }

  &-content {
    background-color: orange;
    flex: 1 100%;
    height: 100%;
    overflow-y: auto;
  }
}
