$w-sidebar: 350px;

.MainPage {
  height: 100%;
  display: flex;

  &-left-panel {
    flex: 0 0 $w-sidebar;
    height: 100%;
  }

  &-content {
    background: $main-bg;
    flex: 1 100%;
    height: 100%;
  }
}
