.Workspace-new {
    position: absolute;
    top: 60px;
    margin-left: $w-right-px + 10px;

    background-color: $c-font-accent;

    .icon {
        font-size: 1.2rem;
    }
}

.WorkspaceItem {
    @extend %z-depth-1;
    @extend %rounded;

    position: relative; // we need this to limit text selection in Chrome
    z-index: 1;

    margin-top: 15px;
    margin-bottom: 40px;

    .panel {
        position: absolute;
        right: 0;

        opacity: 0;
        @include transition(opacity .3s);

        button {
            margin: 0;
            padding: 0 9px;

            font-size: 0.85em;

            color: $c-font-secondary;

            @include transition(color .3s);
            &:hover {
                color: $c-font;
            }
        }
    }

    // make panel visible on hover
    &:hover .panel {
        opacity: 1;
    }


    background-color: $c-bg-paper;
    &.target {
        background-color: #FFFF66;
    }
    &.target.target-active {
        @include transition(background-color .8s ease-out);
        background-color: $c-bg-paper;
    }
}

@mixin Record {
    line-height: 1.45;

    min-height: 200px;

    padding-bottom: 30px;

    & &-name {
        @extend h1;

        text-align: center;

        cursor: default;

        color: $c-font-accent;
    }

    & &-categories {
        text-align: center;
        margin-bottom: 25px;
    }

    & &-data {
        // TYPOGRAPHY
        text-align: justify;
        word-wrap: break-word;
        letter-spacing: 0.01rem;
        text-rendering: optimizeLegibility;
        @include font-feature-settings("pnum", "kern");

        padding: 0 42px;
        :last-child {
            margin-bottom: 0;
        }
    }

    @content;
}

.RecordView {
    @include Record;
}

.RecordPreviewer {
    @include Record;
}

.RecordEditor {
    @include Record {
        & &-name {
            padding: 0;
            box-shadow: none;
            background-color: inherit;
        }

        & &-categories {
            @extend %category;
            word-spacing: 7px;
            background-color: inherit;
        }

        & &-data {
            resize: vertical;
            overflow-y: auto;
            background-color: inherit;
        }

    }
}

.modal-dialog.delete-record {
    h2 {
        text-align: center;
    }

    .buttons button {
        margin-right: 30px;
    }
}

.FilesList {
    &-add {
        text-align: center;

        button {
            margin: 10px 0 0;
        }
    }

    table {
        margin: 0;

        tr {
            line-height: 30px;
        }

        td.icon {
            width: 70px;

            font-size: 27px;
            text-align: center;
        }

        td.ts {
            width: 200px;

            font-size: 0.85em;
            text-align: center;
        }

        td.size {
            width: 70px;

            font-size: 0.85em;
            text-align: center;
        }
    }
}
