@import "bourbon/app/assets/stylesheets/bourbon";

$fa-font-path: "/fontawesome/fonts";
@import "fontawesome/scss/font-awesome";

$golden-ratio: 1.618;

$width: 1190px;

$border: 1px solid lightgrey;

$c-bg: #FFFFFF;
$c-fg: #000000;

$c-search-input-bg: #FFFFFF;
$c-search-input-border: lightgrey;

$c-record-bg: #FFFFFF;

// HELPERS

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nohighlight {
    &:hover {
        border-color: inherit;
    }

    &:focus {
        border-color: inherit;
        box-shadow: inherit;
    }
}

// MATERIAL DESIGN: PAPER TOP
%material-paper-top {
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}

// MATERIAL DESIGN: PAPER BOTTOM
%material-paper-bot {
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

// BASE

html {
    overflow-y: scroll;
    height: 100%;

    *, *:before, *:after {
                     @include box-sizing(border-box);
                 }
}

body {
    height: 100%;
    min-height: 100%;

    width: $width;

    margin: 0 auto;

    background-color: $c-bg;
}

.Root {
    height: 100%;
    min-height: 100%;

    // GOLDEN RATIO
    $padding: 8px;
    $w-search: $width * 0.38;
    $w-workspace: $width - $w-search - $padding;

    .left {
        position: fixed;
        width: $w-search;
        height: 100%;
        overflow-y: auto;
    }

    .right {
        margin-left: $w-search + $padding;
        width: $w-workspace;
    }
}

.SearchPanel {
    margin-left: 10px;
    margin-right: 10px;

    & &-search {
        @extend .nohighlight;

        cursor: pointer;

        border: 0 none;
        border-radius: 0;
        border-bottom: 1px solid $c-search-input-border;
        box-shadow: none;

        background-color: $c-search-input-bg;
        @include transition(border-color 0.5s);

        &:focus,
        &:hover {
            border-color: $c-fg;
        }
    }
}

.SearchResult {
    cursor: pointer;
    padding: 10px 5px;
    display: none;

    &-visible {
        display: block;
    }
}

.Workspace {
    &-records {
        padding: 5px;
    }

    .WorkspaceItem {
        min-height: 200px;
        margin: 20px 20px 20px 20px;

        @extend %material-paper-top;

        > * {
            @extend %material-paper-bot;
            padding: 5px;
        }
    }
}

.Panel {
    & &-right {
        text-align: right;
    }

    .icon {
        cursor: pointer;
        padding: 0 5px;

        font-size: 20px;

        color: lighten($c-fg, 60%);
        @include transition(color .4s);

        &:hover {
            color: $c-fg;
        }
    }

    > * {
        display: inline-block;
        width: 50%;
    }
}

%RecordBase {
    background-color: $c-record-bg;

    // make panel visible on hover
    .Panel {
        opacity: 0;
        @include transition(opacity .4s);
    }

    &:hover .Panel {
        opacity: 1;
    }
}

.Record {
    & &-name {
        text-align: center;
        margin-bottom: 30px;
    }

    & &-body {
        padding: 10px;
    }
}

.RecordView, .PreviewRecordView{
    @extend %RecordBase;
}

.EditRecordView {
    @extend %RecordBase;

    & &-name {
        text-align: center;
    }

    & &-data {
        display: block;
        margin-bottom: 0;

        min-height: 300px;
        height: auto;
        overflow-y: hidden;

        resize: none;

        @extend .nohighlight;
        border: 0 none;
        border-radius: 0;
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }
}