.Tabs-tabs {
    .tab {
        display: inline-block;
        padding: 6px 20px;

        cursor: pointer;
        color: $c-tab;
        &:hover {
            color: $c-tab-h;
        }

        border-bottom: 2px solid transparent;
        @include transition(border-bottom-color 0.1s ease);

        &.active {
            color: $c-tab-active;
            border-bottom-color: $c-tab-active;
        }
    }
}
