$main-bg-color: #F1F1F1;
$main-bg: $main-bg-color none repeat scroll 0% 0%;

$text-bg-color: #FEFEFE;
$text-bg: $text-bg-color none repeat scroll 0% 0%;

$font-size: 16px;
$line-height: 1.63;

$font-color: #333;
$font-color-secondary: silver;

/* $border-color: #F6F6F6; */
$border-color: silver;
$border: 1px solid $border-color;

$focus-color: #51CBEE;

$link-color: blue;
$category-color: #958079;

$color-warn: #e57373;

$btn-warn-color: $color-warn;
