
// BASE
html,
body,
.Root {
    height: 100%;
    overflow: hidden;
}

html {
    *,
    *:before,
    *:after {
        @include box-sizing(border-box);
    }
}

$w-workspace-p: 1/$golden-ratio;
$w-search-p: 1 - $w-workspace-p;

$w-total-px: 1200px;
$w-search-px: $w-total-px * $w-search-p;
$w-workspace-px: $w-total-px - $w-search-px;

.Root {

    .left {
        position: fixed;
        height: 100%;

        width: $w-search-p * 100%;

        > * {
            float: right;
            width: $w-search-px;
        }
    }

    .right {
        height: 100%;
        overflow-y: auto;

        width: $w-workspace-p * 100%;
        margin-left: $w-search-p * 100%;
        padding-left: 20px;

        > * {
            width: $w-workspace-px;
        }
    }
}
