// BASE

html {
    *,
    *:before,
    *:after {
        @include box-sizing(border-box);
    }
}

html,
body {
    height: 100%;
    background-color: $c-bg-primary;
}

$h-top-panel: 90px;
body > .Top-Panel {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: $h-top-panel;

    background-color: $lightPrimaryColor;
    border-bottom: $base-border;
}

$w-right-p: 1/$golden-ratio;
$w-left-p: 1 - $w-right-p;

$w-total-px: 1200px;
$w-left-px: $w-total-px * $w-left-p;
$w-right-px: $w-total-px - $w-left-px;

body > .Root {
    @include clearfix;

    position: relative;
    height: 100%;
    width: 100%;
    min-width: $w-total-px + 50px;

    .left {
        height: 100%;

        float: left;
        width: $w-left-p * 100%;

        padding-right: 10px;

        > * {
            width: $w-left-px;
            float: right;
        }
    }

    .right {
        height: 100%;
        overflow-y: scroll;

        float: right;
        width: $w-right-p * 100%;

        padding-left: 10px;

        > * {
            width: $w-right-px;
        }
    }
}
