@import "../bourbon/app/assets/stylesheets/bourbon";

$fa-font-path: "/fontawesome/fonts";
@import "../fontawesome/scss/font-awesome";

// Variables
@import "variables";

// Extends
@import "extends/button";
@import "extends/clearfix";
@import "extends/errors";
@import "extends/flashes";
@import "extends/hide-text";

// Typography and Elements
@import "typography";
@import "forms";
@import "tables";
@import "lists";
@import "buttons";


$c-search-input-border: lightgrey;

// MATERIAL DESIGN: PAPER TOP
%material-paper-top {
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
}

// MATERIAL DESIGN: PAPER BOTTOM
%material-paper-bot {
    border-radius: 2px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
}

// BASE
html,
body,
.Root {
    min-height: 100%;
    height: 100%;
}

html {
    overflow-y: scroll;

    *,
    *:before,
    *:after {
        @include box-sizing(border-box);
    }
}

.Root {
    $w-workspace-p: 1/$golden-ratio;
    $w-search-p: 1 - $w-workspace-p;

    $w-total-px: 1190px;
    $w-search-px: $w-total-px * $w-search-p;
    $w-workspace-px: $w-total-px - $w-search-px;

    .left {
        position: fixed;
        overflow-y: auto;
        height: 100%;

        width: $w-search-p * 100%;

        > * {
            float: right;
            width: $w-search-px;
        }
    }

    .right {
        width: $w-workspace-p * 100%;
        @include calc(margin-left, "#{$w-search-p * 100%} + 8px");

        > * {
            width: $w-workspace-px;
        }
    }
}

.SearchPanel {
    margin-left: 10px;
    margin-right: 10px;

    & &-search {
        cursor: pointer;

        border: 0 none;
        border-radius: 0;
        border-bottom: 1px solid $c-search-input-border;
        box-shadow: none;

        @include transition(border-color 0.5s);

        &:focus,
        &:hover {
            border-color: $base-font-color;
        }
    }
}

.SearchResult {
    cursor: pointer;
    padding: 10px 5px;
    display: none;

    &-visible {
        display: block;
    }
}

.Workspace {
    &-records {
        padding: 5px;
    }

    .WorkspaceItem {
        min-height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;

        &:first-child {
            margin-top: 0;
        }

        @extend %material-paper-top;

        > * {
            @extend %material-paper-bot;
            padding: 5px;
        }
    }
}

.Panel {
    & &-right {
        text-align: right;
    }

    .icon {
        cursor: pointer;
        padding: 0 5px;

        font-size: 20px;

        color: lighten($base-font-color, 60%);
        @include transition(color .4s);

        &:hover {
            color: $base-font-color;
        }
    }

    > * {
        display: inline-block;
        width: 50%;
    }
}

%RecordBase {
    // make panel visible on hover
    .Panel {
        opacity: 0;
        @include transition(opacity .4s);
    }

    &:hover .Panel {
        opacity: 1;
    }
}

.Record {
    & &-name {
        text-align: center;
        margin-bottom: 30px;

        cursor: default;
    }

    & &-body {
        color: #515558;
        padding: 10px 30px;

        cursor: default;
    }
}

.RecordView, .PreviewRecordView{
    @extend %RecordBase;
}

.EditRecordView {
    @extend %RecordBase;

    & &-name {
        font-size: $h1-font-size;
        font-weight: bold;

        text-align: center;
        margin-bottom: 30px;

        padding: 0;
        border: 0 none;
        box-shadow: none;

        box-shadow: none;
    }

    & &-data {
        display: block;
        margin-bottom: 0;

        line-height: 1.5;
        color: #515558;

        padding: 10px 30px;

        min-height: 300px;
        height: auto;
        overflow-y: hidden;

        resize: none;

        border: 0 none;
        border-radius: 0;
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }
}