.Attachments {
  table {
    width: 100%;
  }

  .attachment-type-icon {
    width: 40px;
  }

  .size {
    text-align: center;
    font-size: 0.9rem;
  }

  .ts {
    font-size: 0.9rem;
    width: 130px;
  }

  .buttons {
    width: 20px;
    text-align: right;

    .Icon {
      @mixin action-icon;
      &:hover {
        color: $color-warn;
      }
    }
  }
}
