.FileUploadModalView {
  .editor-view {
    img.preview {
      display: block;
      margin: 1vr auto;

      max-width: 100%;
      max-height: 480px;

      border: $border;
    }

    .input-row {
      display: flex;

      > * {
        flex-grow: 1;
      }

      input {
        background-color: inherit;
      }

      .mime, .size {
        text-align: center;
      }
    }

    .error-message {
      color: $color-warn;
      margin-top: 0.5vr;
    }
  }
}
