.FileUploader {
  margin: 1vr 0;
  text-align: center;

  padding: 0.5vr;
  border: 1px dashed $border-color;
  background: $file-picker-bg-color;

  .picker-view {
    input {
      display: none;
    }

    .upload-link {
      cursor: pointer;
      color: $color-action;
    }
  }

  .editor-view {
    .row1 {
      display: flex;

      > * {
        flex-grow: 1;
      }

      input {
        background-color: inherit;
      }
    }

    .error-message {
      color: $color-warn;
      margin-top: 0.5vr;
    }

    .row2 {
      margin-top: 0.5vr;
    }
  }
}
