.Note {
  width: 42em;

  margin:  1vr auto;
  padding: 1vr 2vr;

  background: $text-bg;

  @mixin paper-shadow;

  position: relative;

  .icons {
    position: absolute;
    top: 0;
    right: 10px;

    .Icon {
      padding-left: 15px;

      font-size: 1vr;
      @mixin action-icon;

      &.is-warn:hover {
        color: $color-warn;
      }
    }
  }
}
