.RecordEditoViewr-edit {
  .name, .CategoriesEditor {
    display: block;
    width: 100%;

    padding: 0.5vr 0;
    margin-bottom: 5px;
  }

  .name {
    font-size: 1.5vr;
    padding-bottom: 0.25vr;
  }

  .Editor {
    margin-top: 1vr;

    .CodeMirror {
      height: auto;
      font-size: 14px;
    }
  }
}
