.SearchPanel {

    .AtomInfo {
        list-style: none;
        cursor: pointer;

        &.is-hidden {
            display: none;
        }

        &:hover {
            background: #F5F5F5;
        }
    }
}
