* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  color: $color;
  font: $font-size/1.63 "Input Sans Narr","Input Sans Narrow",sans-serif;
  text-rendering: optimizelegibility;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
