<div class="toolbar btn-group">
    <button class="btn btn-default js-edit" type="button">
        {{> icon type="pencil"}}
    </button>
    <button class="btn btn-default js-close" type="button">
        {{> icon type="remove"}}
    </button>
</div>
<div class="body"></div>
