<div class="toolbar btn-group">
    <button class="btn btn-default js-edit" type="button">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button class="btn btn-default js-close" type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
<h1 class="title">{{name}}</h1>
<div class="categories">{{cats categories}}</div>
<div class="data">{{{md data}}}</div>
