<div class="toolbar btn-group">
    <button class="btn btn-default js-save" type="button">
        <span class="glyphicon glyphicon-ok"></span>
    </button>
    <button class="btn btn-default js-delete" type="button">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button class="btn btn-default js-close" type="button">
        <span class="glyphicon glyphicon-remove"></span>
    </button>
</div>
<input type="text"
       class="form-control title"
       placeholder="Title"
       value="{{name}}" >
<input type="text" class="form-control categories"
       placeholder="Categories"
       value="{{cats categories}}" >
<textarea class="form-control data" placeholder="Data" rows=10>
    {{data}}
</textarea>
