<div class="modal-header">
    <h4 class="modal-title">Create new note</h4>
</div>
<div class="modal-body">
    <input type="text" class="form-control name" placeholder="Name" autofocus>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary js-create" data-dismiss="modal">Create note</button>
</div>
