<div class="toolbar">
    <i class="small mdi-editor-mode-edit js-edit"></i>
    <i class="small mdi-navigation-close js-close"></i>
</div>
<h1 class="title">{{name}}</h1>
<div class="categories">{{[../hbs-helpers/cats] categories}}</div>
<div class="data">{{{[../hbs-helpers/md] data}}}</div>
