@import "./editor/styles.scss";

.NoteMap {
    $w-note: 700px;
    $p-note: 25px;

    .note-add {
        position: fixed;
        margin-left: $w-note + 20;
        top: 70px;

        @include card(2);
        border-radius: 50%;

        &,
        &:focus,
        &:hover,
        &:active {
            outline: none;
        }
    }

    .notes {
        padding-left: 0;
    }

    .Note {
        @include card(1);

        list-style: none;
        position: relative;

        width: $w-note;
        background: $c-bg;

        margin-top: 25px;
        padding: 10px;

        .toolbar {
            position: absolute;
            right: 0;
            top: 0;
        }

        .title {
            margin-top: 15px;
            padding: 0 $p-note;
            color: $c-note-title;
        }

        .categories {
            padding: 0 $p-note;
        }

        .data {
            font-size: 1.2rem;
            padding: 0 $p-note;
        }
    }
}

.ModalCreateNote {
    .categories {
        margin-top: 10px;
    }
}
