.NoteMap {
    $w-note: 700px;

    .note-add {
        position: fixed;
        margin-left: $w-note + 20;
        top: 70px;
    }

    .Note {
        background: $c-bg;

        width: $w-note;
        margin-top: 25px;

        padding: 10px;

        .title {
            margin-top: 0;
            text-align: center;
        }

        .categories {
            text-align: center;
        }

        .data {
            font-size: 1.2rem;
            padding: 0 25px;
        }
    }
}
