@import "bourbon/bourbon";
@import "base/base";
@import "font-awesome/font-awesome";

// https://color.adobe.com/zen-and-tea-color-theme-337112
$golden-ration: 1.618;

$w-SearchPanel: 400px;
$w-WorkspaceItem: $w-SearchPanel*$golden-ration;

$c-bg: #F6FFE0;
$c-search-sel: #BDD684;

$c-search-input-bg: #F6FFE0;
$c-search-input-h-bg: #E2F0D6;
$c-search-input-f-bg: #FFFFFF;
$c-search-input-border: lightgrey;

$c-record-bg: #FFFFFF;
$c-record-b: lightgrey;

// HELPERS

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wh100 {
    width: 100%;
    height: 100%;
}

.nohighlight {
    &:hover {
        border-color: inherit;
    }

    &:focus {
        border-color: inherit;
        box-shadow: inherit;
    }
}

// BASE

html, body {
    @extend .wh100;

    *, *:before, *:after {
                     @include box-sizing(border-box);
                 }

    background-color: $c-bg;
}

.Root {
    min-height: 100%;
    width: 100%;
    margin: 0 auto;

    // GOLDEN RATIO
    $w-search: 38.2%;
    $w-workspace: 100%-38.2%;

    &>* {
        display: inline-block;
        vertical-align: top;
    }

    .left {
        width: $w-search;
    }

    .right {
        width: $w-workspace;
    }
}

.SearchPanel {
    margin-left: auto;
    width: $w-SearchPanel;

    border-right: 1px solid lightgrey;

    & &-search {
        @extend .nohighlight;

        cursor: pointer;

        $border: 1px solid $c-search-input-border;
        border: $border;
        border-right: 0 none;

        background-color: $c-search-input-bg;
        @include transition(background-color 0.4s);

        &:hover {
            background-color: $c-search-input-h-bg;
        }

        &:focus,
        &:focus:hover {
            cursor: text;
            background-color: $c-search-input-f-bg;
        }

        &:hover,
        &:focus {
            border: $border;
        }
    }
}

.SearchResult {
    cursor: pointer;
    padding: 10px 5px;

    &-selected {
        background-color: $c-search-sel;
    }
}

.Workspace {
    overflow-y: auto;

    &-records {
        padding: 5px;
        padding-right: 15px;
        @extend .wh100;

        min-height: 100%;

        overflow: auto;
    }

    .WorkspaceItem {
        width: $w-WorkspaceItem;
        margin: 20px auto 20px 20px;
        min-height: 200px;
    }
}

.panel {
    & &-right {
        text-align: right;
    }

    .icon {
        cursor: pointer;
        padding: 0 5px;
    }

    > * {
        display: inline-block;
        width: 50%;
    }
}

%RecordBase {
    background-color: $c-record-bg;

    border: 1px solid $c-record-b;
    border-radius: 2px;
    box-shadow: 0 0 1px $c-record-b, 0 1px 2px $c-record-b;

    // make panel visible on hover
    .panel {
        opacity: 0;
        @include transition(opacity .4s);
    }

    &:hover .panel {
        opacity: 1;
    }
}

.Record {
    & &-name {
        text-align: center;
    }

    & &-body {
        padding: 10px;
    }
}

.RecordView, .PreviewRecordView{
    @extend %RecordBase;

    padding-bottom: 10px;
}

.EditRecordView {
    @extend %RecordBase;

    & &-name {
        text-align: center;
    }

    & &-data {
        @extend .nohighlight;
        border-radius: 0;

        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }

    & &-data {
        resize: none;

        min-height: 300px;
        height: auto;
        overflow-y: hidden;

        display: block;
        margin-bottom: 0;

        // only top border
        border-width: 1px 0 0;
    }

    &:focus {
        background-color: red;
    }
}