@import "bourbon/bourbon";
@import "base/base";

$c-nav: #111111;
$c-bg: #FFFFFF;
$c-border: #7FDBFF;
$c-bg1: #685C79;
$c-bg2: #FFBC67;

// HELPERS

.hidden {
    display: none;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// BASE

html, body {
    width: 100%;
    height: 100%;

    *, *:before, *:after {
        @include box-sizing(border-box);
    }
}

#root {
    height: 100%;
    width: 100%;

    background-color: $c-bg;

    $w-nav: 170px;

    $h-search: 40px;
    #search-box {
        position: fixed;
        top: 0;
        width: 100%;
        height: $h-search;
    }

    nav {
        width: $w-nav;
    }

    .content {
        @include calc(width, '100% - #{$w-nav}');
    }

    nav, .content {
        margin-top: $h-search;

        height: 100%;
        @include calc(height, '100% - #{$h-search}');

        float: left;
        overflow-y: hidden;
    }
}

// COMPONENTS

$w-fp: 40%;

.filter-panel {
    width: $w-fp;
    height: 100%;
    overflow-y: auto;
    float: left;

    .result {
        @extend .truncate;

        margin: 20px;
        cursor: pointer;

        &.selected {
            color: $c_border;
        }
    }
}

.preview-panel {
    width: 100% - $w-fp;
    float: left;
}
