@import "bourbon/bourbon";
@import "base/base";
@import "font-awesome/font-awesome";

$c-nav: #111111;
$c-bg: #FFFFFF;
$c-border: #7FDBFF;
$c-bg1: #685C79;
$c-bg2: #FFBC67;

// HELPERS

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wh100 {
    width: 100%;
    height: 100%;
}

// BASE

html, body {
    @extend .wh100;

    *, *:before, *:after {
                     @include box-sizing(border-box);
                 }
}

.Root {
    @extend .wh100;

    $w-menu: 100px;
    $w-search: 200px;

    &>* {
        display: inline-block;
        vertical-align: top;

        height: 100%;
    }

    .NavPanel {
        width: $w-menu;
    }

    .search-panel {
        width: $w-search;
    }

    .workspace {
        @include calc(width, '100% - #{$w-menu + $w-search}')
    }
}
