.SearchPanel {
  height: 100%;

  .SearchInput {
    font-size: 1.3em;
    width: 96%;

    margin: 5px 2% 10px;
    padding: 5px 10px;
  }

  .scroll {
    height: calc(100% - 57px);
    overflow-y: auto;
  }
}
