$focused-color: color(#ffecb3 alpha(0.6));

.SearchItem {
  position: relative;

  padding: 0.5vr 1vr;
  margin-bottom: 6px;

  .name {
    display: block;

    font-size: 1.2em;
    color: $link-color;
  }

  time {
    font-size: 0.8em;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-selected {
    background-color: $focused-color;
  }
}
