.SearchPanel {
  height: 100%;

  &-header {
    text-align: center;
    position: relative;

    .results-count {
      color: $font-color-secondary;
      padding-left: 0.5rem;
      font-size: 0.9rem;
    }
  }

  &-scroll {
    height: calc(100% - 57px);
    overflow-y: auto;
  }
}
