
.SearchItem {
  position: relative;

  padding: 0 1vr;
  margin-bottom: 1vr;

  .name {
    display: block;

    font-size: 1.2em;
    color: $link-color;
  }

  time {
    font-size: 0.8em;
  }

  &:hover {
    cursor: pointer;
  }

  &.is-selected {
    background-color: color($focus-color alpha(0.6));
  }
}
