.SearchPanel {
    height: 100%;

    margin-left: 10px;
    margin-right: 10px;

    overflow-y: auto;

    & &-search {
        position: fixed;
        width: $w-search-px;

        cursor: pointer;
        box-shadow: 0px 8px 6px -6px #D3D3D3;

        input {
            margin: 0;
            box-shadow: none;
        }
    }

    & &-results {
        // for search box
        padding-top: 70px;
        // for stats box
        padding-bottom: 70px;

        margin-left: 5px;
    }

    & &-stats {
        position: fixed;
        bottom: 0;
        width: $w-search-px;

        box-shadow: 0px -8px 6px -6px #D3D3D3;

        text-align: center;
        color: $light-gray;
        background-color: $base-background-color;
        font-size: small;
    }
}

.SearchResult {
    cursor: pointer;
    padding: 10px 5px;
    display: none;

    &-visible {
        display: block;
    }
}
