$c-search-input-border: lightgrey;

.SearchPanel {
    margin-left: 10px;
    margin-right: 10px;

    & &-search {
        cursor: pointer;
    }
}

.SearchResult {
    cursor: pointer;
    padding: 10px 5px;
    display: none;

    &-visible {
        display: block;
    }
}
