
.Workspace {
    &-records {
        padding: 5px;
    }

    .WorkspaceItem {
        @extend %paper-1;

        min-height: 200px;
        margin-top: 20px;
        margin-bottom: 20px;

        // we need this to limit text selection in Chrome
        position: relative;

        &:first-child {
            margin-top: 0;
        }
    }
}

.Panel {
    padding: 0 10px;

    & &-right {
        text-align: right;
    }

    .icon {
        cursor: pointer;
        padding: 0 5px;

        font-size: 30px;

        color: lighten($base-font-color, 60%);
        @include transition(color .4s);

        &:hover {
            color: $base-font-color;
        }
    }

    > * {
        display: inline-block;
        width: 50%;
    }
}

%RecordBase {
    // make panel visible on hover
    .Panel {
        opacity: 0;
        @include transition(opacity .4s);
    }

    &:hover .Panel {
        opacity: 1;
    }
}

.Record {
    & &-name {
        text-align: center;
        margin-bottom: 30px;

        cursor: default;
    }

    & &-body {
        color: $base-text-color;
        padding: 10px 30px;

        cursor: default;
    }
}

.RecordView, .PreviewRecordView{
    @extend %RecordBase;
}

.EditRecordView {
    @extend %RecordBase;

    & &-name {
        @extend h2;

        text-align: center;
        margin-bottom: 30px;

        padding: 0;
        border: 0 none;
        box-shadow: none;

        &:hover,
        &:focus {
            border: 0 none;
            box-shadow: none;
        }
    }

    & &-data {
        display: block;
        margin-bottom: 0;

        line-height: 1.5;
        color: $base-text-color;

        padding: 10px 30px;

        min-height: 300px;
        height: auto;
        overflow-y: hidden;

        resize: none;

        border: 0 none;
        border-radius: 0;
        box-shadow: none;

        &:focus {
            box-shadow: none;
        }
    }
}

.modal-dialog.delete-record {
    h2 {
        text-align: center;
    }

    .buttons button {
        margin-right: 30px;
    }
}
