.Workspace-new {
    position: absolute;
    top: 60px;
    right: 150px;

    background-color: $base-font-accent-color;

    .icon {
        font-size: 1.2rem;
    }
}

.Panel {
    padding: 0 10px;

    & &-right {
        text-align: right;
    }

    &-left, &-right {
        display: inline-block;
        width: 50%;
    }

    .icon {
        cursor: pointer;
        padding: 0 5px;

        font-size: 30px;

        @include transition(color .3s);

        &:hover {
            color: $base-font-color;
        }
    }
}

.WorkspaceItem {
    @extend %paper-1;
    @extend %rounded;

    position: relative; // we need this to limit text selection in Chrome
    z-index: 1;

    min-height: 200px;

    margin-top: 15px;
    margin-bottom: 20px;

    background-color: $c-bg-paper;

    // make panel visible on hover
    .Panel {
        opacity: 0;
        @include transition(opacity .3s);
    }

    &:hover .Panel {
        opacity: 1;
    }
}

.RecordView,
.PreviewRecordView,
.EditRecordView {
    padding-bottom: 20px;

    & &-name {
        text-align: center;
        margin-bottom: 30px;

        cursor: default;
    }

    & &-data {
        width: 58ch;
        text-align: justify;
        word-wrap: break-word;
        letter-spacing: 0.01rem;

        margin-left: auto;
        margin-right: auto;
    }
}

.EditRecordView {
    & &-name {
        @extend h2;

        padding: 0;
        box-shadow: none;
    }

    & &-data {
        resize: none;
        padding: 0;
        overflow-y: hidden;
    }
}

.modal-dialog.delete-record {
    h2 {
        text-align: center;
    }

    .buttons button {
        margin-right: 30px;
    }
}
