// Typography
$sans-serif: $helvetica;
$open-sans: "Open Sans";
$base-font-family: $open-sans;
$header-font-family: $open-sans;

// Font Sizes
$base-font-size: 18px;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.5;

// Other Sizes
$base-border-radius: 2px;
$base-spacing: $base-line-height * 1em;
$golden-ratio: 1.618;

// others
$base-border: 1px solid $c-border;
