
.Files {
    .file-upload {
        margin-top: 15px;
        margin-bottom: 15px;

        text-align: center;
        padding: 15px;
        border: 1px dashed #ddd;
        background: #fafafa;
        color: #444;

        .upload-btn {
            @extend %link;
        }
    }

    td {
        vertical-align: middle;

        &.icon {
            text-align: center;
        }

        &.file-size {
            text-align: center;
            padding-top: 11px;
        }

        &.ts {
            font-size: 0.9em;
            text-align: right;
            width: 150px;
        }

        &.buttons {
            cursor: pointer;

            span {
                visibility: hidden;
            }
        }

    }

    tr:hover td.buttons span {
        visibility: visible;
    }
}
